<div id="home">
  <div id="container">
    <div id="header">
      <h1>Suyog Soti<hr><hr></h1>
    </div>
    <div id="info_box">
      <div id="img">
      </div>
      <div id="bio">
        Hello, My name is Suyog Soti.
      </div>
    </div>
  </div>
</div>
