<div id="home">
  <div id="container">
    <div id="header">
      <h1>Suyog Soti<hr><hr></h1>
    </div>
    <div id="info_box">
      <div id="img">
      </div>
      <div id="bio">
        Hello, My name is Suyog Soti.<hr>
        <p>&nbsp I am a founder and a leader of HDev Tech and I have imense passion for Computers, Software and Hardware.</p>
      </div>
    </div>
  </div>
</div>
